.profile {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding-bottom: 20px;
}

.rocket,
.mission {
  padding: 10px;
  border: 1px solid #ddd;
  min-width: 250px;
}