.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.logo {
  display: flex;
  gap: 20px;
}

.logo-section {
  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.logo-text {
  font-size: 1.3em;
}
