table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  font-family: inherit;
}

.status_button {
  background-color: gray;
  color: #fff;
  border: none;
  padding: 2px;
  border-radius: 5px;
}

.join_button {
  background: transparent;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.mission_title {
  font-weight: bolder;
  font-size: 16px;
}